.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

input {     
    border: 3px solid gray;
}

input:invalid {
    border: 2px solid darkred;
}
input:focus:invalid {
    box-shadow: 0 0 5px 1px rgb(248, 116, 215);
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width:100%;
}