body {
    background-color: rgb(243, 150, 243);
}
form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.container {
    background-color: rgb(164, 164, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid blue;
    box-shadow: 0 0 7px 5px purple;
}

input {     
    border: 3px solid gray;
    border-radius: 10px;
}

input:invalid {
    border: 2px solid darkred;
}
input:focus:invalid {
    box-shadow: 0 0 5px 1px rgb(248, 116, 215);
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width:100%;
}

button {
    border-style: none;
    background-color: rgb(83, 83, 124);
    
}

